@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Genos:wght@600&family=Montserrat&family=Poppins&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
 .hed-O{
    float:right;
 }
 .vr-logo{
    width: 80px;
    height: 50px;
}
.home-Bg-container{
    background-image:url(pexels-james-wheeler-417074.jpg);
    height: 500px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: cover;
    justify-content: center;
  }
  .navbar{
    position:fixed;
    z-index:3;
    width: 100%;
}
